In [1]:
import numpy as np
import pandas as pd
from sklearn import neighbors, metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data",
                   names=["buying","maint","doors","persons","lug_boot","safetly","class"],
                   header=None)

In [3]:
data.head()

  buying  maint doors persons lug_boot safetly  class
0  vhigh  vhigh     2       2    small     low  unacc
1  vhigh  vhigh     2       2    small     med  unacc
2  vhigh  vhigh     2       2    small    high  unacc
3  vhigh  vhigh     2       2      med     low  unacc
4  vhigh  vhigh     2       2      med     med  unacc

In [4]:
x = data[["buying","maint","safetly"]].values
y = data[["class"]]

In [5]:
#converting the data
le = LabelEncoder()

In [6]:
for i in range(len(x[0])):
  x[:,i]  = le.fit_transform(x[:,i])

In [7]:
x

array([[3, 3, 1],
       [3, 3, 2],
       [3, 3, 0],
       ...,
       [1, 1, 1],
       [1, 1, 2],
       [1, 1, 0]], dtype=object)

In [8]:
label_mapping = {
    "unacc" : 0,
    "acc":1,
    "good":2,
    "vgood":3
}

In [9]:
y["class"] = y["class"].map(label_mapping)
y

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      class
0         0
1         0
2         0
3         0
4         0
...     ...
1723      2
1724      3
1725      0
1726      2
1727      3

[1728 rows x 1 columns]

In [10]:
knm = neighbors.KNeighborsClassifier(n_neighbors=25,weights="uniform")

In [11]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=.2)

In [12]:
knm.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=25, p=2,
                     weights='uniform')

In [13]:
prediction = knm.predict(X_test)

In [14]:
accuracy = metrics.accuracy_score(y_test,prediction)

In [15]:
print(accuracy)

0.7572254335260116

In [16]:
x.shape
x[20:21,:].shape

(1, 3)

In [17]:
##some testing...
print("y actual values :",y.loc[20,"class"])
print("y predicted values:",knm.predict(x[20:21,:]))

y actual values : 0
y predicted values: [0]